<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Data Submitted Successfully - </b>
     <table border="1" cellspacing="10" cellpadding="10">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>DOB</th>
            <th>Nationality</th>
            <th>Marital_st</th>
            <th>Education</th>
        </tr>
        {{#each persons as |person|}}
        <tr>
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.DOB}}</td>
            <td>{{person.Nationality}}</td>
            <td>{{person.Marital_st}}</td>
            <td>{{person.Education}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>